@font-face {
  font-family: 'WorkSans';
  src: url("~@/assets/fonts/WorkSans-VariableFont_wght.ttf");
}
// @font-face {
//   font-family: 'Open Sans';
//   font-style: italic;
//   src: url("~@/assets/fonts/OpenSans-Italic.ttf");
// }
@mixin paragraph {
  font-family: 'WorkSans';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

@mixin section-style {
  font-family: 'WorkSans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}

@mixin paragraph-m {
  font-family: 'WorkSans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  text-transform: uppercase; 
}

@mixin body-large {
  font-family: 'WorkSans';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  // text-transform: uppercase; 
}

* {
  --color-black: rgba(23, 23, 23, 1);
  --color-grey: rgba(45, 45, 46, 1);
  --color-white: rgba(247, 247, 247, 1);
  --color-orange: rgba(231, 83, 23, 1);
  ;
}

$color-black: var(--color-black);
$color-grey: var(--color-grey);
$color-white: var(--color-white);
$color-orange: var(--color-orange);



@mixin effect-style-shadow-section-header {
  box-shadow: 0px 4px 8px 0px rgba(23, 23, 23, 0.50); 
}
