<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Se la richiesta non è un file esistente, reindirizza a index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [QSA,L]
  </IfModule>
  